{% extends "equipment_app/base.html" %}

{%load static%}

{%block content%}
<div class="container-fluid">
    <div class="row my-3 border-bottom">
        <div class="col-sm-3 border-end  text-center">
            <img alt="Photo of {{object}}" class="img-fluid" src="{{object.Img.url}}">
            {% if not object.ManualLink == "" %}
            <a class="btn btn-info my-3" href="{{object.ManualLink}}">Manual</a>
            {%endif%}
        </div>
        <div class="col">
            <div class=" mb-3 text-wrap">
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Name:&nbsp</h5>
                    <h5 class="fw-normal">{{ object }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Category:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.Category }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Serial Number:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.SerialNumber }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Asset Tag:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.AssetTag }}</h5>
                </div>
                {% if object.AccessoryOf is not None%}
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Accessory to:&nbsp</h5>
                    <h5 class="fw-normal"><a href="{{object.AccessoryOf.get_absolute_url}}">{{ object.AccessoryOf }}</a></h5>
                </div>
                {% endif%}
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Check-in Location:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.CheckInLocation }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Warentee Date:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.WaranteeExpires }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Calibration Due On:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.CalDueDate }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Availability:&nbsp</h5>
                    {% if object.is_availible %}
                    <h5 class="fw-normal text-success-emphasis">Available!</h5>
                    {% else %}
                    <h5 class="fw-normal text-danger-emphasis">Checked Out</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row border-bottom">
        <div class="col">
            <h3 class="text-center">Description:</h3>
            <div class="container-sm border border-2 rounded text-break mb-3">
                <p>{{object.Description | linebreaks}}</p>
            </div>
        </div>
    </div>
        <div class="row my-3">
            <div class="col-sm-2 text-center border-end">
                <div class="my-3">
                    <a aria-label="Edit {{object}}'s information" class="btn btn-success me-3" href="{{object.get_edit_absolute_url}}">Edit</a>
                </div>
                <div class="mb-3">
                    <a aria-label="Force check {{object}}'s in" class="btn btn-warning me-3" href="{% url 'stub' %}">Force Check In</a>
                </div>
                <div class="mb-3">
                    <a aria-label="Delete {{object}}" class="btn btn-danger me-3" href="{{object.get_delete_absolute_url}}">Delete</a>
                </div>
            </div>
            <div class="col">
                <div class="mb-3 text-wrap">
                    {% if object.is_availible %}
                    <div class="container-fluid text-center">
                        <a aria-label="Check out {{object}}" class="btn btn-info btn-lg my-3" href="{%url 'stub'%}">Check out now!</a>
                    </div>
                    {%else%}
                    {%with checkout_user=object.CheckedOutTo.AffUser%}
                    <div class="container-fluid">
                        <h4 class="fw-bold text-center">Checked out to:&nbsp</h5>
                        <div class="row">
                            <div class="col-sm">
                                {% comment %} TODO: These header portions aren't centered with the Profile button {% endcomment %}
                                <h5 class="fw-normal">{{checkout_user.first_name}} {{checkout_user.last_name}}</h3>
                                <h5 class="fw-normal">{{checkout_user.email}}</h3>
                            </div>
                            <div class="col">
                                <a aria-label="View {{user.first_name}} {{user.last_name}}'s profile" class="btn btn-info btn-lg my-3" href="{%url 'stub'%}">View {{user.first_name| capfirst}} {{user.last_name | capfirst}}'s profile</a>
                            </div>
                        </div>
                        <h4 class="fw-bold text-center">Checkout Location:</h5>
                        <h5 class="fw-normal">{{object.CheckOutLocation}}</h3>
                    <div>
                    {%endwith%}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}