{% extends "equipment_app/base.html" %}

{%block content%}
<div class="container-sm text-left border my-3" style="--bs-border-opacity: 0.5; max-width: 50vw">
  <h2 class="text-center">{{ActionText}}:</h2>
  {% if SubActionText %}
  <h3 class="text-center">{{SubActionText}}</h3>
  {%endif%}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center m-3">
      <button type="submit" class="btn btn-primary btn-sm rounded-pill px-3" id="submit">Submit</button>
    </div>
  </form>
</div>
{%endblock%}