{% extends "equipment_app/base.html" %}

{%block content%}
<div class="container-fluid table-responsive  mt-3">
    {%if page_obj.count is not 0 %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th scope="columnheader" >Equipment Name: </th>
                <th scope="columnheader" >Asset Tag: </th>
                <th scope="columnheader" >Serial Number: </th>
                <th scope="columnheader" >Category:</th>
                <th scope="columnheader" >Availability: </th>
                <th scope="columnheader" aira-label="Equipment Action Buttons">Actions:</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for equipment in page_obj %}
            <tr>
                <th scope="cell" class="align-middle">{{equipment}}</th>
                <th scope="cell" class="align-middle">{{equipment.AssetTag}}</th>
                <th scope="cell" class="align-middle">{{equipment.SerialNumber}}</th>
                <th scope="cell" class="align-middle">{{equipment.Category}}</th>
                {% if equipment.is_availible %}
                <th scope="cell" class="align-middle text-success-emphasis">Availible!</th>
                {% else %}
                 <th scope="cell" class="align-middle text-danger-emphasis">Checked Out</th>
                {% endif %}
                <th scope="cell" class="align-middle">
                    <div class="d-flex justify-content-center">
                        <a aria-label="View {{equipment}} information" class="btn btn-primary btn-sm rounded-pill px-3 mx-2" href="{{equipment.get_absolute_url}}">View</a>
                        {% if perms.equipment_app.can_edit %}
                        <a aria-label="Edit {{equipment}}'s information" class="btn btn-success btn-sm rounded-pill px-3 me-2" href="{{equipment.get_edit_absolute_url}}">Edit</a>
                        <a aria-label="Delete {{equipment}}" class="btn btn-danger btn-sm rounded-pill px-3 me-2" href="{{equipment.get_delete_absolute_url}}">Delete</a>
                        {% endif %}
                    </div>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%else%}
    <h1 class="text-center">No Equipment added!</h1>
    {%endif%}
    {% if perms.equipment_app.can_edit %}
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <a aria-label="Add Equipment" class="btn btn-primary btn-sm rounded-pill px-3 mx-2 mb-3" href="{% url 'equipment-creation'%}"n id="add_equipment">Add Equipment</a>
</div>
{%endblock%}