{% extends "equipment_app/base.html" %}

{%load static%}

{%block content%}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-sm-3 border text-center">
            <img alt="Equipment Photo" class="img-fluid" src="{{object.Img.url}}">
            {% if object.ManualLink is not "" %}
            <a class="btn btn-info my-3" href="{{object.ManualLink}}">Manual</a>
            {%endif%}
        </div>
        <div class="col border">
            <div class="border-0 mb-3 text-wrap">
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Name:&nbsp</h5>
                    <h5 class="fw-normal">{{ object }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Serial Number:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.SerialNumber }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Asset Tag:&nbsp</h5>
                    <h5 class="fw-normal">{{ object.SerialNumber }}</h5>
                </div>
                <div class="d-flex flex-row align-center">
                    <h5 class="fw-bold">Availibility:&nbsp</h5>
                    {% if object.is_availible %}
                    <h5 class="fw-normal text-success-emphasis">Availible!</h5>
                    {% else %}
                    <h5 class="fw-normal text-danger-emphasis">Checked Out</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <h3 class="text-center">Description:</h3>
            <div class="container-sm border border-2 rounded text-break mb-3">
                <p>{{object.Description}}</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}