{% extends 'equipment_app/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container-md">
        {% include "equipment_app/model_search_template.html" %}
    </div>
    <div class="container-md">
    {% if query %}
        {% if page_obj %}
        <h2 class="text-center">Results:</h2>

            {% for result in page_obj %}
                {%with equipment=result.object%}
                <div class="container-md border rounded mb-3">
                    <div class="row">
                        <div class="col-sm-3 text-center d-flex ">
                                <img alt="Photo of {{equipment}}" class="img-fluid border-0 mx-auto my-3" src="{% get_media_prefix %}{{equipment.Img}}">
                        </div>
                        <div class="col text-center position-relative">
                            <h3 class="text-center">{{equipment}}</h3>
                            {% if equipment.is_availible %}
                            <h4 class="text-success-emphasis">Availible!</h4>
                            {% else %}
                            <div class="d-flex flex-row align-center text-center justify-content-center">
                                <h4 class="text-danger-emphasis">Checked Out to:&nbsp</h4>
                                <h4 class="text-break"><a href="mailto:{{equipment.CheckedOutTo.AffUser}}">{{equipment.CheckedOutTo.AffUser}}</a></h4>
                            </div>
                            {% endif %}
                            <div class="d-flex flex-row align-center">
                                <h5 class="fw-bold">Category:&nbsp</h5>
                                <h5 class="fw-normal">{{ equipment.Category }}</h5>
                            </div>
                            <div class="d-flex flex-row align-center">
                                <h5 class="fw-bold">Serial Number:&nbsp</h5>
                                <h5 class="fw-normal">{{ equipment.SerialNumber }}</h5>
                            </div>
                            <div class="d-flex flex-row align-center">
                                <h5 class="fw-bold">Asset Tag:&nbsp</h5>
                                <h5 class="fw-normal">{{ equipment.AssetTag }}</h5>
                            </div>
                            <div class="d-flex flex-row align-center justify-content-center mb-3">
                                <a aria-label="View {{equipment}} information" class="btn btn-primary btn-sm rounded-pill px-3 mx-2" href="{{equipment.get_absolute_url}}">View</a>
                                {% if perms.equipment_app.can_edit %}
                                <a aria-label="Edit {{equipment}}'s information" class="btn btn-success btn-sm rounded-pill px-3 me-2" href="{{equipment.get_edit_absolute_url}}">Edit</a>
                                <a aria-label="Delete {{equipment}}" class="btn btn-danger btn-sm rounded-pill px-3 me-2" href="{{equipment.get_delete_absolute_url}}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {%endwith%}
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2 class="text-center mt-3">No results found.</h2>
        {% endif %}

        {% if page_obj.has_previous or page_obj.has_next %}
            <div>
                {% if page_obj.has_previous %}
                <a href="?q={{ query }}&amp;EquCategory={{ Cat }}&amp;page={{ page_obj.previous_page_number }}" class="btn btn-primary float-begin">Previous</a>
                {% else %}
                <a><button class="btn btn-outline-primary float-begin" disabled>Previous</button></a>
                {% endif %}

                {% if page_obj.has_next %}
                <a href="?q={{ query }}&amp;EquCategory={{ Cat }}&amp;page={{ page_obj.next_page_number }}" class="btn btn-primary float-end">Next Page</a>
                {% else %}
                <a><button class="btn btn-outline-primary float-end" disabled>Next Page</button></a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}